html {
    box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}


.column {
  width: 800px;
  display: flex;
}

.squareDiv {
  background-color:  lightblue;
  flex: 1;
  aspect-ratio: 1;
}

.hoverOn {
  background-color: darkblue;
}

.hoverOff {
  background-color: lightblue;
}